.delete__form {
  display: block;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.delete__close-btn {
  background-image: url(../images/WhiteCloseIcon.svg);
  position: absolute;
  width: 40px;
  height: 40px;
  border: none;
  opacity: 1;
  top: 0;
  right: -52.5px;
}

.delete__close-btn:hover {
  cursor: pointer;
  opacity: 100%;
}

.delete__submit-btn {
  width: 156px;
  padding: 18px 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  background-color: rgba(255, 101, 101, 1);
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  border-radius: 8px;
  border: none;
  color: rgba(33, 33, 33, 1);
}

.delete__submit-btn:hover {
  background-color: rgba(255, 51, 51, 1);
  color: rgba(33, 33, 33, 1);
  cursor: pointer;
}

.cancel__submit-btn {
  width: 156px;
  padding: 18px 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  border-radius: 8px;
  border: 1px;
  border-color: rgba(33, 33, 33, 1);
  color: rgba(33, 33, 33, 1);
}

.cancel__submit-btn:hover {
  background-color: rgba(33, 33, 33, 1);
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}
